<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Calendario</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <div class="container col-xl-10 col-lg-10 col-md-12 col-12">
        <div class="row">
                <div class="vh-100 col-6 d-none d-sm-flex flex-column justify-content-center align-items-center" style="background-color: yellow;">
                    <div class="mt-2">
                        <button class="btn btn-primary font-weight-bold mr-1" onclick="menosMes()"><</button>
                        <button class="btn btn-primary font-weight-bold mr-3" onclick="maisMes()">></button>
                    </div>
                    <div class=" d-flex flex-column align-items-center" style="background-color: white;" id="diasCalendario"></div>
                </div>
                <div class="vh-100 col-12 col-sm-6 overflow-auto" style="background-color: brown;">
                    <div class="col-12 bg-light">
                        <div class="sticky-top p-1 bg-light">
                            <button class="btn btn-primary btn-lg btn-block mt-5">Adicionar evento</button>
                            <div class="mt-3 text-center">
                                <h1>25/01/2015</h1>
                            </div>
                        </div>
                        <div class="row w-100 border-bottom mt-2">
                            <div class="d-flex flex-column align-items-center col-2">
                                <p>17h00</p>
                                <p>|</p>
                                <p>18h00</p>
                            </div>
                            <div class="col-10">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic tenetur aliquam labore officiis! Et iste quisquam, eveniet quidem at soluta corporis esse amet quo ab, blanditiis officia laudantium facere!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam non qui obcaecati! Optio quis, tenetur in animi commodi aspernatur qui voluptatibus nisi aliquam itaque voluptas consectetur sed numquam! Minus, quisquam?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nam velit repellendus obcaecati ipsum aliquam labore, ipsam earum. Unde quo rerum odio eum cumque tempore omnis numquam earum laborum voluptatum?
                                </p>
                            </div>
                        </div>
                        <div class="row w-100 border-bottom mt-2">
                            <div class="d-flex flex-column align-items-center col-2 ">
                                <p>17h00</p>
                                <p>|</p>
                                <p>18h00</p>
                            </div>
                            <div class="col-10">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic tenetur aliquam labore officiis! Et iste quisquam, eveniet quidem at soluta corporis esse amet quo ab, blanditiis officia laudantium facere!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam non qui obcaecati! Optio quis, tenetur in animi commodi aspernatur qui voluptatibus nisi aliquam itaque voluptas consectetur sed numquam! Minus, quisquam?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nam velit repellendus obcaecati ipsum aliquam labore, ipsam earum. Unde quo rerum odio eum cumque tempore omnis numquam earum laborum voluptatum?
                                </p>
                            </div>
                        </div>
                        <div class="row w-100 border-bottom mt-2">
                            <div class="d-flex flex-column align-items-center col-2 ">
                                <p>17h00</p>
                                <p>|</p>
                                <p>18h00</p>
                            </div>
                            <div class="col-10">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic tenetur aliquam labore officiis! Et iste quisquam, eveniet quidem at soluta corporis esse amet quo ab, blanditiis officia laudantium facere!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam non qui obcaecati! Optio quis, tenetur in animi commodi aspernatur qui voluptatibus nisi aliquam itaque voluptas consectetur sed numquam! Minus, quisquam?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nam velit repellendus obcaecati ipsum aliquam labore, ipsam earum. Unde quo rerum odio eum cumque tempore omnis numquam earum laborum voluptatum?
                                </p>
                            </div>
                        </div>
                        <div class="row w-100 border-bottom mt-2">
                            <div class="d-flex flex-column align-items-center col-2 ">
                                <p>17h00</p>
                                <p>|</p>
                                <p>18h00</p>
                            </div>
                            <div class="col-10">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic tenetur aliquam labore officiis! Et iste quisquam, eveniet quidem at soluta corporis esse amet quo ab, blanditiis officia laudantium facere!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam non qui obcaecati! Optio quis, tenetur in animi commodi aspernatur qui voluptatibus nisi aliquam itaque voluptas consectetur sed numquam! Minus, quisquam?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nam velit repellendus obcaecati ipsum aliquam labore, ipsam earum. Unde quo rerum odio eum cumque tempore omnis numquam earum laborum voluptatum?
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="./calendario.js"></script>
</body>
</html>